* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    background-color: rgba(42, 60, 89, 1);
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    color: white;
}

/* Блок меню */
.header {
    padding: 15px;
    background: #ffffff;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(140, 140, 212, 1) 28%, rgba(42, 60, 89, 1) 100%);
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    height: 110px;
    display: flex;
    align-items: center;
}
.main {
    margin-top: 120px; 
}
.nav {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;

}
.nav a {
    color: rgb(11, 29, 29);
    text-decoration: none;
    padding: 8px 14px;
    background-color: rgba(140, 140, 212, 1);
    border-radius: 15px;
    transition: 1s;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}
.nav a:hover {
    background-color: rgb(94, 94, 144);
    padding: 10px 16px;
    transition: 1s;
}

/* Блок контента номер 1 */
.content1 {
    margin: 15px;
    background-color: rgba(140, 140, 212, 1);
    padding: 60px 20px;
    border-radius: 10px;

    display: flex;
    justify-content: space-evenly;
}
.left {
    margin-right: 20px;
}
.left button {
    color: rgb(11, 29, 29);
    padding: 8px 14px;
    margin-top: 15px;
    background-color: rgb(92, 92, 136);
    border-radius: 15px;
    transition: 1s;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}
.left button:hover {
    background-color: rgb(121, 121, 239);
    padding: 10px 16px;
    transition: 1s;
}
.right {
    width: 600px;
}
.right img {
    width: 600px;
    border-radius: 10px;
    transition: 1s;
}
.right img:hover {
    width: 610px;
    border-radius: 15px;
    transition: 1s;
}

/* Блок контента номер 2 */
.content2 {
    margin: 15px;
    background-color: rgba(140, 140, 212, 1);
    padding: 60px 20px;
    border-radius: 10px;
    text-align: center;
}
.blocks-container {
    display: flex;
    justify-content: center;
    gap: 30px; 
    margin-top: 40px;
    flex-wrap: wrap; 
}
.block {
    background-color: rgb(108, 108, 158);
    border-radius: 10px;
    flex: 1;
    max-width: 300px; 
    text-align: center;
    padding: 20px;
    transition: 1s;
}
.block:hover {
    background-color: rgb(96, 96, 134);
    border-radius: 15px;
    transition: 1s;
}

/* Блок контента номер 3 */
.content3 {
    margin: 15px;
    background-color: rgba(140, 140, 212, 1);
    padding: 60px 20px;
    border-radius: 10px;
    text-align: center;
}
.content3 h2 {
    margin-bottom: 40px;
}
.blocks-container2 {
    display: flex;
    flex-direction: column;
    gap: 30px; 
    align-items: center;
}
.block2 {
    background-color: rgb(108, 108, 158);
    border-radius: 10px;
    padding: 15px 15px;
}
.block2 img {
    width: 600px;
    border-radius: 10px;
    transition: 1s;
}
.block2 img:hover {
    width: 610px;
    border-radius: 15px;
    transition: 1s;
}

/* Блок контента номер 4 */
.content4 {
    margin: 15px;
    background-color: rgba(140, 140, 212, 1);
    padding: 60px 20px;
    border-radius: 10px;
    text-align: center;
}
.blocks-container3 {
    display: flex;
    justify-content: center;
    gap: 30px; 
    margin-top: 40px;
    flex-wrap: wrap; 
}
.block3 {
    background-color: rgb(108, 108, 158);
    border-radius: 10px;
    flex: 1;
    max-width: 300px; 
    text-align: center;
    padding: 20px;
    transition: 1s;
}
.block3:hover {
    background-color: rgb(96, 96, 134);
    border-radius: 15px;
    transition: 1s;
}
.block3 img {
    border-radius: 50%;
    width: 45px;
}

/* Блок футера */
.footer {
    text-align: center;
    background: #ffffff;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(140, 140, 212, 1) 28%, rgba(42, 60, 89, 1) 100%);
    padding: 30px;
    font-size: 14px;
    border-radius: 10px;
}
.btn {
    position: fixed;
    left: 20px;
    bottom: 20px;
    padding: 10px 15px;
    background-color:rgba(42, 60, 89, 1);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    z-index: 1000;
}
